%script{src: '/assets/rtc/client_signaling.js'}
%h1 Client to Client

%video#localVideo
%video#remoteVideo
:javascript
  var pc = null
  if (room !== "") {
    console.log('Joining room ' + room);
    socket.emit('create or join', room);
  }

  var localVideo  = document.querySelector('#localVideo');
  var remoteVideo = document.querySelector('#remoteVideo');

  var constraints = 
    {
      video: true,
      audio: true
    }

  function gotError(error){
    console.alert('Problems with GetUserMedia');
  }

  function gotStream(stream){
    pc = new RTCPeerConnection(null);
    pc.addStream(stream);
    attachMediaStream(localVideo, stream);
  }
  getUserMedia(constraints, gotStream, gotError);
