.jumbotron
  %h1.text-center Welcome to WebRTC-Rails
  %p.text-center This is a simple app build to test WebRTC with in a Rails aplication
  = link_to "Create your first Call!", client_to_client_path, class: 'btn btn-primary btn-large', role: 'button'
