.list-group
  = link_to "Webcam Auido&Video", webcam_audio_video_url, class: action_name == 'webcam_audio_video' ? "list-group-item active" : "list-group-item"
  = link_to "WebRTC same page", webrtc_same_page_url, class: action_name == 'webrtc_same_page' ? "list-group-item active" : "list-group-item"
  = link_to "Stream arbitrary data", stream_arbitrary_data_url, class: action_name == 'stream_arbitrary_data' ? "list-group-item active" : "list-group-item"
  = link_to "Client to Client", client_to_client_url, class: action_name == 'client_to_client' ? "list-group-item active" : "list-group-item"
