.list-group
  = link_to "Stem1", step1_url, class: action_name == 'step1' ? "list-group-item active" : "list-group-item"
  = link_to "Test1", '#', class: "list-group-item"
  = link_to "Test1", '#', class: "list-group-item"
  = link_to "Test1", '#', class: "list-group-item"
